a:link {
    color:black;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    }

a:active, a:visited{
    color: black;
    }

 

header {
    background-image: url(../image/mountain.jpg);
    text-align: center;
    height: auto;
    font-style: inherit;
    }
    
nav {
    
    font-size: x-large;
    text-align: center;
    margin: 0 auto;
    }
    
article{
    background: linear-gradient(black, white);
    border-left: 15px solid red;
    font-size: larger; 
    }
    
section {
    margin: 0 auto;
    background-color: #D3D3D3;
    border-style: ridge;
    border-width: 10px;
    height: 100%;
    
    } 

img {
    float: left;
    border-radius: 50px;
    }
    
p {
    float: none;
    font-family: sans-serif;
    font-size-adjust: inherit;
    font-size: x-large;
    }

form {
    font-size: large;
    text-align-last: center;
    float: left;
    }

h2 {
    text-align: center;
    }
h1 {
    font-size: xx-large;
    }
figure {
    text-align: center;
    }
div img {
    width: 350px;
    height: 385px;
}
footer {
    color: white;
    height: 25px;
    font-size: medium;
    text-align: center;
}
