@media (max-width: 320px) 
{ section {float: none;  } }

body {
    background-color:#98FB98;
    max-width: 1500px;
    margin: 0 auto;
}
header {
    text-align: center;
    height: auto;
    font-style: inherit;
}
footer {
    color: black;
    height: 25px;
    font-size: medium;
    text-align: center;
}
